#inputForm input, #inputForm button {
    margin: 5px;
    text-align: center;
}
#output .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: gray;
}

#header {
    text-align: center;
}
